@model IEnumerable<Author>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
      @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
            {
    <a asp-action="Create">Add author</a>
            }
 </p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AuthorProfile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorDisplayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorAccountStatus)
        </th>
        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
        {
            <th> Actions</th>
        }
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td class="align-middle">
                <img class="rounded-circle" src="@item.AuthorProfile" alt="@item.AuthorName" style="max-width: 150px"/>
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.AuthorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorDisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorAccountStatus)
            </td>

            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            }

        </tr>
    }
    </tbody>
</table>